@model IEnumerable<SimsovisionDataBase.ParticipantTypes>

@{
    ViewData["Title"] = "Index";
}

    <h1>Типы участников</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParticipantType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdParticipantType">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.IdParticipantType">Перейти к участникам данного типа</a> |
                <a asp-action="Delete" asp-route-id="@item.IdParticipantType">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
