@model IEnumerable<SimsovisionDataBase.Cities>

@{
    ViewData["Title"] = "Index";
}

    <h1>Города-участники</h1>

    <p>
        @if (User.IsInRole("admin"))
        {<a asp-action="Create">Добавить</a>}
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if ((User.IsInRole("admin")) || (User.IsInRole("moder")))
                {<a asp-action="Edit" asp-route-id="@item.IdCity">Редактировать</a>}|
                <a asp-action="Details" asp-route-id="@item.IdCity">Перейти к годам проведения</a> |
                @if (User.IsInRole("admin"))
                {<a asp-action="Delete" asp-route-id="@item.IdCity">Удалить</a>}
            </td>
        </tr>
}
    </tbody>
</table>
