@model IEnumerable<SimsovisionDataBase.Models.User>
@{
    ViewBag.Title = "Список пользователей";
}

@if ((User.IsInRole("admin")) || (User.IsInRole("moder")))
{<a asp-action="Create">Добавить пользователя</a>}

<table class="table">
    <tr><th>Email</th><th>Дата рождения</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.DateofBirth</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    @if ((User.IsInRole("admin")) || (User.IsInRole("moder")))
                    {<a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>}

                    @if ((User.IsInRole("admin")) || (User.IsInRole("moder")))
                    {<a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>}

                    @if ((User.IsInRole("admin")) || (User.IsInRole("moder")))
                    {<button type="submit" class="btn btn-sm btn-danger">Удалить</button>}
                </form>
            </td>
        </tr>
    }
</table>